[Unit]
Description=discord-bot
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash start-bash.sh
WorkingDirectory=/home/trizotto/discord-bot
User=root
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target


