[Unit]
Description=discord-bot
After=network.target

[Service]
ExecStart=npm run start
WorkingDirectory=/home/trizotto/discord-bot/start-bash.sh
User=trizotto
Restart=on-failure

[Install]
WantedBy=multi-user.target
